{{> header}}
{{> admin}}
    {{#if rows}}
            {{#each rows}}
                <div style="margin:30px;">
                    <h3>Заголовок: {{this.title_preview}}</h3>
                    <h4>Превью текст: {{this.text_preview}}</h4>
                    <img src="/images/facts/{{this.img_preview}}" style="width: 200px;" />
                    <a href="/admin/fact/{{this.id}}">открыть</a>
                </div>
            {{/each}}
    {{else}}
        <h1>Контент пуст</h1>
    {{/if}}
    <script>
       replaceTag();
    </script>
{{> footer}}