{{> header}}
<div class="content__wrap">
    <h4 id="{{x}}" class="block__title"></h4>
    <div class="block__image">
        <img src="/images/flags/{{imgSrc}}.svg" />
    </div>

    <div class="game-menu__wrap">
        <ul class="game-menu" id="start">
            {{#each rows}}
                <li class="game-menu__element">
                    <a onclick="javascript:answer_cf('{{this.id}}')"  class="element__game" ><span>{{this.country}}</span></a>
                </li>
            {{/each}}
        </ul>
    </div>

    <!-- Линия прогресса -->
    <div class="progress-line__wrap">
        <span class="progress-line__count">{{current}} / {{size}}</span>
        <span class="progress-line">
                <span class="progress-line__element" style="width: {{progress}}%;">&nbsp;</span>
            </span>
        <a href="/gameover" class="end_btn">сдаться</a>
    </div>
    <!-- //Линия прогресса -->

</div>
{{> footer}}
