{{> header}}
<div class="content__wrap">
     <!-- Линия прогресса -->
    <div class="progress-line__wrap">
        <span class="progress-line__count">{{current}} / {{size}}</span>
        <span class="progress-line">
            <span class="progress-line__element" style="width: {{progress}}%;">&nbsp;</span>
        </span>
    </div>
    <!-- //Линия прогресса -->
    <div class="game-menu__wrap">
        <ul class="game-menu" id="start">
            {{#each rows}}
                <li class="game-menu__element">
                    <a onclick="javascript:answer_cf('{{this.id}}')"  class="element__game" ><span><strong>{{this.country}}</strong></span></a>
                </li>
            {{/each}}
        </ul>
         <a href="/gameover" class="end_btn">сдаться</a>
    </div>
</div>
{{> footer}}