{{> header}}
<h1 id="{{x}}"></h1>
<p>{{current}} / {{size}} </p>
<p><a href="/gameover">сдаться</a></p>
<div class="img">
    <img src="/images/flags/{{imgSrc}}.svg" style="width: 300px; text-align: center; display: inherit; margin-bottom: 20px;"/>
</div>
<div class="start" id="start">
        {{#each rows}}
            <a onclick="javascript:answer_cf('{{this.id}}')" style="border: 20px solid #eee;">{{this.country}}</a>
        {{/each}}
</div>
{{> footer}}