{{> header}}
<h1 id="{{x}}">{{h1}}</h1>
<p>{{current}} / {{size}} </p>
<p><a href="/gameover">сдаться</a></p>
<div class="img">
    <img src="/images/flags/{{imgSrc}}.svg" style="width: 300px; text-align: center; display: inherit; margin-bottom: 20px;"/>
</div>
<div class="start" id="start">
       <input type="text" id="guess" autofocus/>
       <a href="javascript:answer_cf_hard()" class="check">проверить (enter)</a>
</div>
{{> footer}}