{{> header}}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="/js/rating.js"></script>
    <div class="content__wrap" style="width: 80%">
        <div class="news-blocks__wrap" id="facts">
            {{#if rows}}
                {{#each rows}}
                    <!-- новостной блок -->
                        <div class="news-block__wrap" id="{{this.id}}">
                            <h3 class="news-block__title">{{this.title_preview}}</h3>
                            <img src="/images/facts/{{this.img_preview}}" alt="image" class="news-block__img">
                            <p class="news-block__text">{{this.text_preview}}</p>

                            <div class="news-block__footer">
                                <ul class="news__soc-info">
                                    <li class="soc-info__element {{#if this.i_like}}active{{else}}like{{/if}}" data-parameter="{{this.id}}">{{#if this.i_like}}<img src="/images/active_like.png" />{{else}}<img src="/images/like.png" />{{/if}}<label>{{this.lik}}</label></li>
                                    <li class="soc-info__element {{#if this.i_dislike}}active{{else}}dislike{{/if}}" data-parameter="{{this.id}}">{{#if this.i_dislike}}<img src="/images/active_dislike.png" />{{else}}<img src="/images/dislike.png" />{{/if}}<label>{{this.dislike}}</label></li>
                                    <li class="soc-info__element_views"><img src="/images/view.png" /><label>{{this.views}}</label></li>
                                </ul>
                                <a href="/fact/{{this.id}}" class="right view__more">Подробнее</a>
                            </div>
                        </div>
                    <!-- //новостной блок -->
                {{/each}}
            {{else}}
            <h1>Контент пуст</h1>
            {{/if}}
        </div>
        <input id="next-list" type="button" value="Ещё" class="save-settings__btn">
    </div>
{{> footer}}