{{> header}}

    {{#if rows}}
        <div class="content__wrap">
            <!-- новостной блок -->
            <div class="news-block__wrap">
                <img src="/images/facts/{{rows.img_preview}}" alt="image" class="news-block__img">
                <p class="news-block__text">{{rows.text_main}}</p>

                <div class="news-block__footer">
                    <ul class="news__soc-info">
                        <li class="soc-info__element"><span class="soc-info__ico ico-likes">&nbsp;</span>    12</li>
                        <li class="soc-info__element"><span class="soc-info__ico ico-dislikes">&nbsp;</span> 11</li>
                        <li class="soc-info__element"><span class="soc-info__ico ico-shares">&nbsp;</span>   2 </li>
                    </ul>
                </div>
            </div> <!-- //новостной блок -->

            <!-- блок комментариев -->
            <div class="comments-block__wrap">
                <div class="write-comment">
                    <h4 class="comment__title">Оставить комментарий</h4>
                    <form action="/comment/{{rows.id}}" method="POST" class="write-comment__form">
                        <input placeholder="Ваше имя" class="comment__name" name="author">
                        <textarea name="text" id="" cols="30" rows="10" placeholder="Текст комментария" class="comment__area"></textarea>
                        <input type="submit" value="Отправить" class="comment__btn btn">
                    </form>
                    <span class="comments__separate-line">&nbsp;</span>
                </div>

                {{#if comments}}
                    <div class="all_comments">
                        {{#each comments}}
                            <div class="comment-block">
                                <h4 class="comment__author">{{this.author}}</h4>
                                <p class="comment__text">{{this.text_main}}</p>
                                <div class="comment__footer">
                                    <ul class="comment-addons">
                                        <li class="soc-info__element"><span class="soc-info__ico ico-likes">&nbsp;</span>    12</li>
                                        <li class="soc-info__element"><span class="soc-info__ico ico-dislikes">&nbsp;</span> 11</li>
                                    </ul>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
            </div>
            <!-- блок комментариев -->
        </div>
        {{/if}}
    <script>
       replaceTag();
    </script>
{{> footer}}