{{> header}}
<div class="content__wrap">
     <!-- Линия прогресса -->
    <div class="progress-line__wrap">
        <span class="progress-line__count">{{current}} / {{size}}</span>
        <span class="progress-line">
            <span class="progress-line__element" style="width: {{progress}}%;">&nbsp;</span>
        </span>
    </div>
    <!-- //Линия прогресса -->
    <ul class="country-flags__list">
        {{#each rows}}
            <li class="flags-list__element">
                <a onclick="javascript:answer_fc('{{this.id}}')">
                    <img alt="flag" src="/images/flags/{{this.id}}.svg" />
                </a>
            </li>
        {{/each}}
    </ul>
     <a href="/gameover" class="end_btn">сдаться</a>
</div>
{{> footer}}


