{{> header}}
{{> admin}}
    {{#if message}}
        <h1>{{message}}</h1>
    {{/if}}
    <form action="/admin/fact/redact/{{row.id}}" method="POST" enctype="multipart/form-data" id="form">
        <input name="title_preview" placeholder="Заголовок для превью" value="{{row.title_preview}}"/><br/><br/>
        <input name="img_preview" placeholder="картинка для превью" value="{{row.img_preview}}"/><br/><br/>
        <h4>Текст для превью</h4>
        <textarea name="text_preview" style="width: 1000px; height: 200px">{{row.text_preview}}</textarea><br/>
        <input name="title_main" placeholder="Заголовок" value="{{row.title_main}}"/><br/><br/>
        <button type="button" onclick="doStyle('bold')"><b>b</b></button>
        <button type="button" onclick="doStyle('italic')"><i>i</i></button>
        <button type="button" onclick="doStyle('underline')"><u>u</u></button>
        <button type="button" onclick="doStyle('justifyleft')">влево</button>
        <button type="button" onclick="doStyle('justifycenter')">центр</button>
        <button type="button" onclick="doStyle('justifyright')">вправо</button><br/><br/>
        <input id="img" placeholder="имя картинки"/><br/><br/>
        <button type="button" onclick="addImg()">добавить картинку</button><br/><br/>
        <h4>Текст</h4>
        <iframe id="iframe_redactor" style="width: 1000px; height: 400px; border: 1px solid rgb(169, 169, 169); background-color: white;"></iframe>
        <input type="file" multiple name="foo"/><br/>
        <button type="reset" class="ok">очистить</button>
        <button type="button" class="ok" onclick="go()">сохранить</button>
        <textarea id="text_main" name="text_main" style="visibility: hidden;">{{row.text_main}}</textarea>
    </form>
    <script>
       copyTextToFrame();
    </script>
{{> footer}}